[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=berenvoedsel
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Berenvoedsel
Comment=A krita addon that makes saving storyboards and animations for the Trucendoos easier.
